# Ignore Mac system files
.DS_Store

# Ignore hidden files created by various IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
nbproject/
.project
.settings/
.buildpath

# Composer dependencies
/vendor/
/composer.lock

# PHPStorm specific files and directories
*.iml
*.iws
.idea/*
!*.idea/workspace.xml
!*.idea/tasks.xml
!*.idea/dictionaries
!*.idea/libraries

# Ignore PHPUnit's test result cache and coverage report
.phpunit.result.cache
coverage/

# Ignore log files
*.log

# Ignore environment files
.env
.env.local
.env.*.local

# Ignore build artifacts
/build/
/dist/

# Ignore temporary and cache files
/tmp/
/cache/
/*.bak

# Ignore Node and npm dependencies
node_modules/

# Ignore other system files
Thumbs.db
ehthumbs.db
